body {
  height: 2000px;
  width: 2000px;
}

.gameStatus {
  display: table;
}

.gameStatus button {
  display: table-cell;
  table-layout: fixed;
  margin: 5px;
  padding: 10px;
  height: 40px;
  width: 100px;
  text-align: center;
}

.gameStatus p {
  display: table-cell;
  table-layout: fixed;
  margin: 5px;
  padding: 10px;
  height: 10px;
  width: 40px;
}

button:hover {
  background-color: rgb(11, 244, 160);
}

button.activate {
  background-color: rgba(222, 165, 20, 0.85);
}

table {
  text-align: center;
  font-size: 15px;
  border-collapse: collapse;
}

table td {
  background: rgb(3, 255, 232);
  border: solid 1px black;
  padding: 0;
  margin: 0;
  width: 27px;
  height: 27px;
  vertical-align: middle;
}

td.empty {
  background-color: rgb(174, 174, 175);
  color: black;
}

td.flag {
  color: rgb(250, 255, 0);
}

td.mine {
  background-color: rgb(174, 174, 175);
  color: red;
}
